.ui.grid
  .row
    .column
      %h2.ui.header Em andamento
  .row
    - @project_actives.each do |project| 
      .four.wide.column
        .ui.stacked.red.segment
          .row
            %h3= link_to project.title, project_path(project)
          %hr/
          .row
            %p= project.description.html_safe
          %hr/
          .row
            .ui.grid
              .eight.wide.column
                %b Início:
                #{project.start.strftime('%d/%m/%Y')}
              .eight.wide.column
                %b Fim:
                #{project.end.strftime('%d/%m/%Y')}



  %hr.ui.dividing.header
  %hr/

  .row
    .column
      %h2.ui.header Previstos
  .row
    - if @project_waiting.present?
      - @project_waiting.each do |project| 
        .four.wide.column
          .ui.stacked.red.segment
            .row
              %h3= link_to project.title, project_path(project)
            %hr/
            .row
              %p= project.description
            %hr/
            .row
              .ui.grid
                .eight.wide.column
                  %b Início:
                  #{project.start.strftime('%d/%m/%Y')}
                .eight.wide.column
                  %b Fim:
                  #{project.end.strftime('%d/%m/%Y')}

    - else 
      .four.wide.column
        %i No momento não há concursos previstos.


  %hr.ui.dividing.header
  %hr/
  .row
    .column
      %h2.ui.header Finalizados
  .row
    - if @project_waiting.present?
      - @project_waiting.each do |project| 
        .four.wide.column
          .ui.stacked.red.segment
            .row
              %h4= link_to project.title, project_path(project)
            %hr/
            .row
              %p= project.description
            %hr/
            .row
              .ui.grid
                .eight.wide.column
                  %b Início:
                  #{project.start.strftime('%d/%m/%Y')}
                .eight.wide.column
                  %b Fim:
                  #{project.end.strftime('%d/%m/%Y')}
    - else 
      .six.wide.column
        %i No momento não há concursos finalizados.



