.row
  .column
    %h1.ui.header 
      Documentação
    %b
    %b Total de participação A3:
    = @participations.count
    %br/
    %b Projetos completos:
    - @total = ::Subscribe.send_participation_ok
    #{@total}
    %br/
    %b Projetos Incompletos:
    #{@participations.count - @total}
    %br/
.ui.hidden.divider
.row
  .column
    %table.ui.celled.table.striped
      %thead
        %tr
          %th.collapsing Nº Inscrição
          %th Documentação
          %th Situaçaõ
      %tbody
        - @participations.order(:id).each do |item| 
          %tr
            %td.collapsing= item.subscribe_id
            %td= link_to "Visualizar", project_document_path(@project, item)
            %td
              - if item.subscribe.send_participation_ok?
                .ui.label.mini.green
                  Completo
              - else
                .ui.label.mini.red
                  Incompleto
