%h3 Adicionar o Projeto
%br/

= simple_form_for @participation, url: project_candidate_area_subscribe_custom_participations_path(@project), method: :post do |f|
  - if @participation.archive_file_one.present?
    %br/
    .ui.label.green= link_to "Visualizar arquivo pdf enviado", f.object.archive_file_one_url, target: '_blank'
  = f.input :archive_file_one, label: "08 pranchas, em PDF, no formato A2 (420 x 594 mm) (30 MB)"
  %br/
  = f.submit "Enviar arquivo", class: 'ui button green', data: { disable_with: "Carregando..."}
  
%br/
%br/

= simple_form_for @participation, url: project_candidate_area_subscribe_custom_participations_path(@project), method: :post do |f|
  - if @participation.archive_file_two.present?
    %br/
    .ui.label.green= link_to "Visualizar arquivo pdf enviado", f.object.archive_file_two_url, target: '_blank'
  = f.input :archive_file_two, label: "Imagem ilustrativa em formato PNG ou JPG, (3MB)"  
  %br/
  = f.submit "Enviar arquivo", class: 'ui button green', data: { disable_with: "Carregando..."}
%br/
%br/

= simple_form_for @participation, url: project_candidate_area_subscribe_custom_participations_path(@project), method: :post do |f|
  - if @participation.archive_file_three.present?
    %br/
    .ui.label.green= link_to "Visualizar arquivo pdf enviado", f.object.archive_file_three_url, target: '_blank'
  = f.input :archive_file_three, label: "Imagem ilustrativa em formato PNG ou JPG, (3MB)"   
  %br/
  = f.submit "Enviar arquivo", class: 'ui button green', data: { disable_with: "Carregando..."}

%br/
%br/
= simple_form_for @participation, url: project_candidate_area_subscribe_custom_participations_path(@project), method: :post do |f|
  - if @participation.archive_file_four.present?
    %br/
    .ui.label.green= link_to "Visualizar arquivo pdf enviado", f.object.archive_file_four_url, target: '_blank'
  = f.input :archive_file_four, label: "Arquivo de apresentação em PDF, com no máximo 20 páginas e 20 MB"  
  %br/
  = f.submit "Enviar arquivo", class: 'ui button green', data: { disable_with: "Carregando..."}


