.ui.grid
  .row
    .column
      %h2.ui.header 
        Participação
        .ui.sub.header
          Envio de projeto
      = link_to "Finalizar Acesso", logout_project_candidate_area_sessions_path(@project), method: :delete
      |
      = link_to "Voltar para o detalhamento", project_candidate_area_root_path(@project)

  .row
    .column 
      /- if !@participation.new_record?
      - if 1 > 2
        %h3 Projeto
        %br/
        = link_to "Editar projeto", edit_project_candidate_area_subscribe_custom_participation_path(id: ::SubscribeCustomParticipation.unscoped.where(subscribe_id: current_candidate.id, special: true).first.id, project_id: @project), class: 'ui button blue'
        %br/
        %table.ui.table.striped
          %thead
            %tr
              %th Data de envio
              %th Arquivo
          %tbody
            %tr
              %td= @participation.created_at.strftime("%d/%m/%Y")
              %td= link_to "Visualizar arquivo", @participation.archive_file_one_url, target: '_blank'
            %tr
              %td= @participation.created_at.strftime("%d/%m/%Y")
              %td= link_to "Visualizar arquivo", @participation.archive_file_two_url, target: '_blank'
            %tr
              %td= @participation.created_at.strftime("%d/%m/%Y")
              %td= link_to "Visualizar arquivo", @participation.archive_file_three_url, target: '_blank'
            %tr
              %td= @participation.created_at.strftime("%d/%m/%Y")
              %td= link_to "Visualizar arquivo", @participation.archive_file_four_url, target: '_blank'
        
      - else
        = render 'form'