.row  
  .column 
    - if @project.id == 3
      %h2
        Propostas enviadas primeira etapa
    - else
      %h2
        Propostas enviadas
      %br/
      %small Total: #{@projects.count}
.ui.divider.hidden
- if @project.id == 1
  .row  
    .column
      %table.ui.table.celled
        %thead
          %tr 
            %th.collapsing Nº de inscrição
            %th.collapsing Nº de pasta
            %th Nome 
            %th.collapsing Cidade/Estado
            %th.collapsing Projeto
        %tbody 
          - if @projects.present?
            - @projects.each do |project|
              - if project.id == 301
                %tr
                  %td.collapsing= project.subscribe_id
                  %td.collapsing= project.id
                  %td.collapsing{colspan: 4} 
                    %i O candidato, ao invés do projeto, enviou uma propaganda publicitária. O seu nome será preservado.
              - else
                %tr 
                  %td.collapsing= project.subscribe_id
                  %td.collapsing= project.id
                  %td= project.subscribe.name.mb_chars.upcase
                  %td.collapsing= "#{project.subscribe.city.mb_chars.upcase}/ #{project.subscribe.state.name}"
                  %td.collapsing= link_to "Visualizar", project.participation_path_url, target: "_blank"
          - else 
            %tr 
              %td{colspan:5}
                %i Nenhum projeto disponível.

- else

  .row  
    .column
      %table.ui.table.celled
        %thead
          %tr 
            %th.collapsing Nº insc.
            %th.collapsing Nº pasta
            %th Nome 
            %th.collapsing Cidade/Estado
            %th.collapsing{colspan: 2} Projeto
        %tbody 
          - if @projects.present?
            - @projects.each do |project|
                %tr 
                  %td.collapsing= project.subscribe_id
                  %td.collapsing= project.id
                  %td.collapsing= project.subscribe.name.mb_chars.upcase
                  %td.collapsing= "#{project.subscribe.city.mb_chars.upcase}/ #{project.subscribe.state.name}"
                  %td.collapsing= link_to "Arquivo 1", project.archive_file_one_url, target: "_blank"
                  %td.collapsing= link_to "Arquivo 2", project.archive_file_two_url, target: "_blank"
          - else 
            %tr 
              %td{colspan:5}
                %i Nenhum projeto disponível.