.row  
  .column
    - if @project.id == 1
      %h2
        Vencedores
        %br/
    - else
      %h2
        Vencedores primeira etapa
        %br/
.ui.divider.hidden
.row  
  .column
    - if @project.result_document?
      %table.ui.table.celled
        %thead
          %tr 
            %th.collapsing Ata de julgamento
        %tbody
          %tr
            %td= link_to "Baixar arquivo", @project.result_document_url, target: '_blank' if @project.result_document?

- if @project.id == 3
  .ui.divider.hidden
    .row  
      .column
        %table.ui.table.celled
          %thead
            %tr 
              %th.collapsing Posição
              %th.collapsing Nº insc.
              %th.collapsing Nº pasta
              %th Nome 
              %th.collapsing Cidade/Estado
              %th{colspan: 2} Projeto
          %tbody 
            - if @projects.present?
              - @projects.order(:winner_type).each do |project|
                %tr 
                  %td.collapsing= project.winner_type.humanize.mb_chars.upcase
                  %td.collapsing= project.subscribe_custom_participation.subscribe_id
                  %td.collapsing= project.subscribe_custom_participation.id
                  %td.collapsing= project.subscribe_custom_participation.subscribe.name.mb_chars.upcase
                  %td.collapsing= "#{project.subscribe_custom_participation.subscribe.city} / #{project.subscribe_custom_participation.subscribe.state.name}"
                  %td.collapsing= link_to "#1", project.subscribe_custom_participation.archive_file_one_url, target: "_blank"
                  %td.collapsing= link_to "#2", project.subscribe_custom_participation.archive_file_two_url, target: "_blank"
            - else 
              %tr 
                %td{colspan:5}
                  %i Nenhum projeto disponível.
- else
  .ui.divider.hidden
  .row  
    .column
      %table.ui.table.celled
        %thead
          %tr 
            %th.collapsing Classificação
            %th.collapsing Nº de inscrição
            %th.collapsing Nº de pasta
            %th Nome 
            %th.collapsing Cidade/Estado
            %th.collapsing Projeto
        %tbody 
          - if @projects.present?
            - @projects.order(:winner_type).each do |project|
              %tr 
                %td.collapsing= project.winner_type.humanize.mb_chars.upcase
                %td.collapsing= project.subscribe_participation.subscribe_id
                %td.collapsing= project.subscribe_participation.id
                %td= project.subscribe_participation.subscribe.name.mb_chars.upcase
                %td.collapsing= "#{project.subscribe_participation.subscribe.city} / #{project.subscribe_participation.subscribe.state.name}"
                %td.collapsing= link_to "Visualizar", project.subscribe_participation.participation_path_url, target: "_blank"
          - else 
            %tr 
              %td{colspan:5}
                %i Nenhum projeto disponível.
