.row
  .column
    %h1.ui.header 
      Relatório participações
.ui.hidden.divider
.row
  .column
    %table.ui.celled.table.striped
      %thead
        %tr
          %th.collapsing Nº
          %th.collapsing Nome
          %th Telefone
          %th Cidade
          %th Estado
      %tbody
        - @participations.order(:id).each do |item| 
          - if item.subscribe.send_members? && item.subscribe.send_juridical? 
            %tr
              %td.collapsing= item.subscribe.id
              %td.collapsing= item.subscribe.name.mb_chars.upcase
              %td.collapsing= item.subscribe.telephone
              %td.collapsing= item.subscribe.city
              %td.collapsing= item.subscribe.state.name
