.ui.grid
  .row
    .column
      %h2.ui.header 
        Minha Inscrição
        .ui.sub.header
          Detalhamento da sua inscrição
      = link_to "Finalizar Acesso", logout_project_candidate_area_sessions_path(@project), method: :delete
      |
      = link_to "Editar inscrição", edit_project_candidate_area_candidate_subscribe_path(@project, current_candidate)
  - if current_candidate.send_participation_ok?
    .row
      .column{style: 'text-align: center !important'}
        .ui.label.segment.green{style: 'text-align: center !important'}
          %h3
            Confirmamos o recebimento do seu projeto, bem como dos demais arquivos de envio obrigatório.
            %br/
            Pedimos que aguarde o processo de julgamento do concurso, que ocorrerá nos dias 10, 11 e 12 de novembro de 2016.
  .row
    .column
      - if [415, 457, 404].include?(current_candidate.id) 
        - if current_candidate.subscribe_custom_participations.unscoped.where(special: true).present? && current_candidate.homologado? && [415, 457, 404].include?(current_candidate.id) 
          = link_to "Projeto enviado, visualizar/editar", project_candidate_area_subscribe_custom_participation_path(id: current_candidate.subscribe_custom_participations.unscoped.where(special: true).first.id, project_id: @project),  class: 'ui right floated button green', data: { disable_with: t(:disable_with)}
        - elsif current_candidate.homologado? && [415, 457, 404].include?(current_candidate.id) 
          = link_to "Realizar envio do projeto", new_project_candidate_area_subscribe_custom_participation_path(@project),  class: 'ui right floated button blue', data: { disable_with: t(:disable_with)}
      = link_to "Emitir boleto", generate_project_candidate_area_billets_path(@project),  class: 'ui right floated button green', data: { disable_with: t(:disable_with)}
      = link_to "Enviar comprovante de pagamento", edit_project_candidate_area_pay_document_path(@project, current_candidate) ,  class: 'ui right floated button blue', data: { disable_with: t(:disable_with)}
  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th.collapsing Nº de inscrição
            %th Data
            %th Situação
            %th Pagamento
            %th Nome Completo
            %th CPF
        %tbody
          %tr 
            %td= current_candidate.id
            %td.collapsing= current_candidate.created_at.strftime("%d/%m/%Y às %H:%M")
            %td.collapsing= current_candidate.situation
            %td.collapsing= current_candidate.paid ? "pago" : "pendente"
            %td= current_candidate.name
            %td.collapsing= current_candidate.cpf

  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th.collapsing Data de nascimento
            %th Sexo
            %th E-mail
            %th Telefone
            %th Celular
        %tbody
          %tr 
            %td= current_candidate.born.strftime("%d/%m/%Y")
            %td.collapsing= current_candidate.gender
            %td.collapsing= current_candidate.email
            %td.collapsing= current_candidate.telephone
            %td.collapsing= current_candidate.celphone


  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th CEP
            %th.collapsing Estado
            %th Cidade
            %th Endereço Completo da empresa
        %tbody
          %tr 
            %td.collapsing= current_candidate.cep
            %td.collapsing= current_candidate.state.name rescue nil
            %td= current_candidate.city
            %td= current_candidate.address

  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th CNPJ
            %th Nome Fantasia
            %th Razão Social
        %tbody
          %tr 
            %td.collapsing= current_candidate.cnpj
            %td= current_candidate.fantasy_name
            %td= current_candidate.social_reason
  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th.collapsing Tipo de profissional
            %th Documento 
            %th Comprovante de pagamento
        %tbody
          %tr
            %td= current_candidate.professional_type.humanize
            %td= link_to "Visualizar arquivo", current_candidate.professional_document_url, target: '_blank'
            %td= link_to "Visualizar arquivo", current_candidate.paid_document_url if current_candidate.paid_document?

  %br/
  %br/
  .row
    .column
      %h3 Observações da organização
      %table.ui.celled.table.striped
        %thead
          %tr
            %th Data
            %th Conteúdo
        %tbody
          - if current_candidate.subscribe_observations.present?
            - current_candidate.subscribe_observations.order("created_at DESC").each do |observation|
              %tr
                %td.collapsing= observation.created_at.strftime("%d/%m/%Y às %H:%M")
                %td= observation.content
          - else
            %tr
              %td{colspan: 2}
                %i Nenhuma observação registrada.