- @project.subscribes.order('id ASC').each do |candidate|
  - if !candidate.professional_document.present?
    %tr
      %td= candidate.id
      %td
        .ui.label.mini= candidate.name
        %br/
        .ui.label.mini= candidate.cpf
        %br/
        .ui.label.mini= candidate.email
        %br/
      %td= candidate.situation.humanize
      %td
        - if candidate.send_project_a3?
          .ui.label.mini.green Projeto
        - else
          .ui.label.mini.gray Projeto

        - if candidate.send_members?
          .ui.label.mini.green Equipe técnica
        - elsif candidate.start_send_members?
          .ui.label.mini.yellow Equipe técnica
        - else
          .ui.label.mini.gray Equipe técnica

        - if candidate.send_juridical?
          .ui.label.mini.green Documentação jurídica
        - elsif candidate.start_send_juridical?
          .ui.label.mini.yellow Documentação jurídica
        - else
          .ui.label.mini.gray Documentação jurídica
      %td
        - if candidate.paid   
          = link_to "Pago", project_subscribe_update_paid_path(project_id: @project, subscribe_id: candidate), remote: true, class: 'ui button green icon mini'
        - else 
          = link_to "Não pago", project_subscribe_update_paid_path(project_id: @project, subscribe_id: candidate), remote: true, class: 'ui button red icon mini'
      %td
        = link_to "Visualizar", project_subscribe_path(project_id: @project, id: candidate), class: 'ui button icon mini'
  - else
    %tr
      %td= candidate.id
      %td
        .ui.label.mini= candidate.name
        %br/
        .ui.label.mini= candidate.cpf
        %br/
        .ui.label.mini= candidate.email
        %br/
      %td= candidate.situation.humanize
      %td
        Sem informação
      %td
        - if candidate.paid_document.present?
          %label.ui.label.blue Comprovante enviado
          
        - if candidate.paid?
          = link_to "Pago", project_subscribe_update_paid_path(project_id: @project, subscribe_id: candidate), remote: true, class: 'ui button green icon mini'
        - else
          = link_to "Não pago", project_subscribe_update_paid_path(project_id: @project, subscribe_id: candidate), remote: true, class: 'ui button red icon mini'
      %td
        = link_to "Visualizar", project_subscribe_path(project_id: @project, id: candidate), class: 'ui button icon mini'

