.row
  .column
    %h1.ui.header 
      Inscrições
.ui.hidden.divider
.row
  .column
    %table.ui.celled.table.striped
      %thead
        %tr
          %th Total de inscritos
          %th Total de homologados
          %th Total de indeferidos
          %th Total de envio de parcial
          %th Total de envio de projetos completos
      %tbody
        %tr
          %td= @project.subscribes.count
          %td= @project.subscribes.enabled.count
          %td= @project.subscribes.recused.count
          %td= ::Subscribe.send_participation
          %td= ::Subscribe.send_participation_ok
.ui.hidden.divider
.row
  .column
    %table.ui.celled.table.striped
      %thead
        %tr
          %th Nº
          %th NOME/CPF/E-MAIL
          %th Situação
          %th Envio do projeto
          %th Pagamento
          %th
      %tbody.subscribe-index
        = render 'index'
