.ui.grid 
  .row
    .column
      %h1.ui.header 
        Inscrição - Nº #{@subscribe.id}
      = link_to "Atualizar situação", edit_project_subscribe_path(@project, @subscribe), class: 'ui button mini blue', remote: true if current_user.administrador?
      = link_to "Voltar para listagem", project_subscribes_path(@project), class: 'ui button mini', data: { disable_with: t(:disable_with)}
  .ui.hidden.divider
  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th.collapsing Nº de inscrição
            %th Data
            %th Situação
            %th Pagamento
        %tbody
          %tr 
            %td.collapsing= @subscribe.id
            %td= @subscribe.created_at.strftime("%d/%m/%Y às %H:%M")
            %td.collapsing= @subscribe.situation
            %td.collapsing= @subscribe.paid ? "pago" : "não pago"

  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th Nome Completo
            %th.collapsing CPF
        %tbody
          %tr 
            %td= @subscribe.name
            %td.collapsing= @subscribe.cpf
  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th Data de nascimento
            %th Sexo
            %th E-mail
            %th Telefone
            %th Celular
        %tbody
          %tr 
            %td= @subscribe.born.strftime("%d/%m/%Y")
            %td= @subscribe.gender
            %td= @subscribe.email
            %td= @subscribe.telephone
            %td= @subscribe.celphone


  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th.collapsing CEP
            %th.collapsing Estado
            %th Cidade
            %th Endereço
        %tbody
          %tr 
            %td= @subscribe.cep
            %td= @subscribe.state.name rescue nil
            %td= @subscribe.city
            %td= @subscribe.address

  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th.collapsing CNPJ
            %th Nome Fantasia
            %th Razão Social
        %tbody
          %tr 
            %td= @subscribe.cnpj
            %td= @subscribe.fantasy_name
            %td= @subscribe.social_reason
  - if !@subscribe.professional_document.present?
    .row
      .column
        %table.ui.celled.table.striped
          %thead
            %tr
              %th.collapsing Inscrição Estadual
              %th Nº e Local de Inscrição
              %th Contrato Social          
          %tbody
            %tr
              %td= @subscribe.state_number
              %td= @subscribe.local_subscribe
              %td= @subscribe.social_contract
  - else
    .row
      .column
        %table.ui.celled.table.striped
          %thead
            %tr
              %th.collapsing Tipo de profissional
              %th Documento de comprovação de registro
              %th Comprovante de pagamento
          %tbody
            %tr
              %td= @subscribe.professional_type.humanize
              %td= link_to "Baixar documento", @subscribe.professional_document_url
              %td= link_to "Baixar comprovante", @subscribe.paid_document_url