.row
  .column
    %h1.ui.header 
      Vencedores
    = link_to "+ Adicionar vencedor", new_project_winner_path(@project)

- if @project.id == 1
  .ui.hidden.divider
  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th Classificação
            %th.collapsing Nº Pasta
            %th.collapsing Nº Inscrição
            %th
        %tbody
          - if @winners.present?
            - @winners.order(:winner_type).each do |winner|
              %tr
                %td= winner.winner_type.mb_chars.humanize.upcase
                %td.collapsing= winner.subscribe_participation_id 
                %td.collapsing= winner.subscribe_participation.subscribe_id if winner.subscribe_participation.present? 
                %td.collapsing
                  = link_to "Visualizar", project_winner_path(@project, winner), target: '_blank', class: 'ui button blue mini' if winner.subscribe_participation.present?
                  = link_to "Remover", project_winner_path(project_id: @project, id: winner), method: :delete, data: { disable_with: t(:disable_with), confirm: "Tem certeza que deseja remover?"}, class: 'ui button red mini'
          - else
            %tr
              %td
                %i Nenhum ganhador registrado.
- else

  .ui.hidden.divider
  .row
    .column
      %table.ui.celled.table.striped
        %thead
          %tr
            %th Classificação
            %th.collapsing Nº Pasta
            %th.collapsing Nº Inscrição
            %th{colspan: 2} Projeto
            %th
        %tbody
          - if @winners.present?
            - @winners.order(:winner_type).each do |winner|
              %tr
                %td= winner.winner_type.mb_chars.humanize.upcase
                %td.collapsing= winner.subscribe_participation_id 
                %td.collapsing= winner.subscribe_custom_participation.subscribe_id if winner.subscribe_custom_participation.present? 
                %td.collapsing
                  = link_to "Arquivo 1", winner.subscribe_custom_participation.archive_one_url, target: '_blank' if winner.subscribe_custom_participation.archive_one?
                  = link_to "Arquivo 2", winner.subscribe_custom_participation.archive_two_url, target: '_blank' if winner.subscribe_custom_participation.archive_two?
                %td.collapsing
                  = link_to "Remover", project_winner_path(project_id: @project, id: winner), method: :delete, data: { disable_with: t(:disable_with), confirm: "Tem certeza que deseja remover?"}, class: 'ui button red mini'
          - else
            %tr
              %td
                %i Nenhum ganhador registrado.