.row
  .column  
    %h2 Envio de projeto
.ui.divider.hidden  
.ui.divider.hidden  
.row
  .column
    %h4 Projeto
    %table.ui.table.celled
      %thead
        %tr
          %th Descrição
          %th Arquivo
          %th Enviado?
      %tbody
        - @participation.each do |item|
          %tr
            %td
              = item.name
            %td
              = simple_form_for url_for do |f|
                = f.input :participation_file, label: false, as: :file
            %td
              Não
.ui.divider.hidden  
.row
  .column
    %h4 Equipe técnica
    %table.ui.table.celled
      %thead
        %tr
          %th Atividade
          %th Nome completo
          %th Qualificação
          %th Nº Registro
          %th Documento
          %th 
      %tbody
        %tr
          %td{colspan: 6}
            %i Nenhum membro cadastrado.
  
.ui.divider.hidden  
.row
  .column
    %h4 Equipe (não obrigatória)
    %table.ui.table.celled
      %thead
        %tr
          %th Nome completo
          %th Qualificação
          %th 
      %tbody
        %tr
          %td{colspan: 3}
            %i Nenhum membro cadastrado.
  

.ui.divider.hidden  
.row
  .column
    %h4 Documentação Pessoa Jurídica
    %table.ui.table.celled
      %thead
        %tr
          %th Descrição
          %th Arquivo
          %th Enviado?
      %tbody
        - @juridical.each do |item|
          %tr
            %td
              = item.name
            %td
              = simple_form_for url_for do |f|
                = f.input :participation_file, label: false, as: :file
            %td
              Não
  

