
%i.close.icon
.header
  Adicionar membro (não obrigatório)
.image.content
  .description
    = simple_form_for @required, url:  create_required_project_candidate_area_subscribe_teams_path(project_id: @project), remote: true do |f|
      .field
        = f.input :name, label: "Nome completo", placeholder: "Digite o nome completo do membro"
      .fields
        .field.wide.four
          = f.input :professional_type, label: "Qualificação profissional", as: :select, collection: ::SubscribeTeamRequired.professional_types.map { |k,v| [k.humanize, k]}, include_blank: false 
        .field.wide.four
          = f.input :activity, label: "Atividade", as: :select, collection: ::SubscribeTeamRequired.activities.map { |k,v| [k.humanize, k]}, include_blank: false 
        .field.wide.four
          = f.input :number_registry, label: "Nº do registro no conselho", as: :string
      .fields
        .field.wide.sixteen
          = f.input :archive_path, label: "Upload do documento", as: :file

      .ui.divider.hidden
      .fields
        .field.wide.four
          = f.submit "Adicionar membro", class: 'ui button green', data: { disable_with: t(:disable_with)}
    
