!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gestão de Concursos
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/admin/nav'
    .ui.container
      .ui.hidden.divider
      - flash.each do |key, value|
        .ui.message{class: "#{key}"}
          %p= value
      .ui.hidden.divider
      = yield
    #action.ui.modal 
