!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Portal de Concursos
    = stylesheet_link_tag    'portal', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'portal', 'data-turbolinks-track' => true
    %link{:href => "https://fonts.googleapis.com/css?family=PT+Sans+Narrow", :rel => "stylesheet"}/
    = csrf_meta_tags
  %body
    = render 'layouts/portal/nav'
    .ui.container
      %br/
      %br/
      = yield