!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ConcourseApp
    = stylesheet_link_tag    'portal', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'portal', 'data-turbolinks-track' => true
    %link{:href => "https://fonts.googleapis.com/css?family=PT+Sans+Narrow", :rel => "stylesheet"}/
    = csrf_meta_tags
  %body
    = render 'layouts/portal/nav'
    .ui.container
      .row
        .ui.segment
          %p
            %h1= @project.title
          = @project.description
      %br/
      .ui.divider
      %br/
      .row
        .ui.grid
          .four.wide.column
            .ui.vertical.pointing.menu
              - @project.navs.actives.each do |nav|
                - if nav.is_page
                  %a.item{href:"#{portal.project_page_path(project_id: @project, id: nav.page)}"}= nav.label
                - else
                  %a.item{href: "#{nav.href}"}= nav.label
          .twelve.wide.column
            = yield