.row
  .column
    %h1.ui.header 
      Participações
    %b
    %b Projetos enviados:
    #{@participations.count}
    %br/
    %br/
    %b Projetos finalistas enviados:
    #{@participations.unscoped.where(special: true).count}
.ui.hidden.divider

%h3 Finalistas
.ui.hidden.divider
.row
  .column
    %table.ui.celled.table.striped
      %thead
        %tr
          %th.collapsing Nº Pasta
          %th.collapsing Nº Inscrição
          %th Data
          %th Arquivo 1
          %th Arquivo 2 
          %th Arquivo 3 
          %th Arquivo 4 
      %tbody
        - @participations.unscoped.where(special: true).order(:id).each do |item| 
          %tr
            %td.collapsing= item.id
            %td.collapsing= item.subscribe_id
            %td= item.created_at.strftime("%d/%m/%Y às %H:%M")
            %td
              - if item.archive_file_one?
                = link_to "Visualizar", item.archive_file_one_url, target: '_blank'
              - else
                %i Não enviado
            %td
              - if item.archive_file_two?
                = link_to "Visualizar", item.archive_file_two_url, target: '_blank'
              - else
                %i Não enviado
            %td
              - if item.archive_file_three?
                = link_to "Visualizar", item.archive_file_three_url, target: '_blank'
              - else
                %i Não enviado
            %td
              - if item.archive_file_four?
                = link_to "Visualizar", item.archive_file_four_url, target: '_blank'
              - else
                %i Não enviado

%h3 Geral
.ui.hidden.divider
.row
  .column
    %table.ui.celled.table.striped
      %thead
        %tr
          %th.collapsing Nº Pasta
          %th Data
          %th Arquivo PDF (Pranchas)
          %th Arquivo Imagem 
      %tbody
        - @participations.order(:id).each do |item| 
          %tr
            %td.collapsing= item.id
            %td= item.created_at.strftime("%d/%m/%Y às %H:%M")
            %td= link_to "Visualizar", item.archive_file_one_url, target: '_blank'
            %td= link_to "Visualizar", item.archive_file_two_url, target: '_blank'